<div class="panel panel-default shout">
  <div class="panel-body">
		<%= div_for	shout do %> 
			<%= link_to gravatar(shout.user), profile_url(shout.user) %>
			<%= link_to shout.user.name, profile_url(shout.user) %>
			<div class="content">
				<p>
					<%= render shout.content %>
				</p>
				<span class="meta">
					<%= time_ago_in_words(shout.created_at) %> <%=t("ago")  %>
					<%# if can? :destroy, shout.content %>
					<% if shout.user == current_user %>
						<span class="remove">
							<%= link_to t("remove"), shout.content, method: :delete, class: "pull-left", data: {confirm: t('delete_confirmation')} %>
						</span>
					<% end %>
				</span>	
			</div>
		<% end %>
	</div>
</div>