<div id="shoutes">
	<div class="panel panel-default shout">
	  <div class="panel-body">
			<%= div_for	shout do %> 
				<%= link_to gravatar(shout.user), profile_url(shout.user.slug) %>
				<%= link_to shout.user.name, profile_url(shout.user.slug) %>
				<%= render partial: 'shouts/shout/action_nav', locals:{shout: shout} %>
				<div class="content">
					<%= render shout.try(:content) %>
					<span class="meta pull-<%= lang_other_side %>">
						<span class="text-muted"><%= t 'posted_at' %> <%= time_ago_in_words(shout.created_at) %> <%=t("ago")  %></span>
						<%# if can? :destroy, shout.content %>					
					</span>	
				</div> 
			<% end %> <!-- div_for	shout  -->
			
		  	<div class="panel-body">
					<% if current_user %>
				  		<%= render partial: 'comments/form', locals: {commentable: shout.content, comment: Comment.new} %>
					<% end %>
				  <%= render partial: 'comments/comments', locals: {comments: shout.content.comments} %>
		  	</div>				

		</div>
	</div>
</div>