<%= div_for	shout do %> 
	<%= gravatar shout.user %>
	<%= link_to shout.user.name, shout.user %>
	shouted: 	
	<%#= link_to shout.body, shout %>	
	<div>
		<%= render shout.content %>
	</div>
	<%= time_ago_in_words(shout.created_at) %> ago
<% end %>