  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :permalink %>
    <%= f.grouped_collection_select :origin_id, State.order(:local_name), :cities, :local_name, :id, :local_name,{ prompt: "Select origin city"}, {:class => 'required select2_input'} %>     

    <%= f.grouped_collection_select :destination_id, State.order(:local_name), :cities, :local_name, :id, :local_name,{}, {:class => 'required select2_input'} %>        
    <%= f.input :origin_cycle %>
    <%= f.input :destination_cycle %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :image %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
