<% if can? :edit, @spacial_event  %>
  <%= link_to 'Edit', edit_spacial_event_path(@spacial_event.permalink) %> |
  <%= link_to 'Back', spacial_events_path %>
<% end %>

<div class="">
<%= image_tag( @spacial_event.image.url(:large), alt: @spacial_event.title ,size: "900x200") %>
  <%= link_to "ثبت سفر به مقصد کرمان", new_trip_path, class: "btn btn-lg btn-primary" %>
</div>
<%= render partial: 'search_subtrips/search_form', locals:{search_subtrip: @search_subtrip  } %>

<div id="search_subtrips">
  <div class="sidebar col-sm-2">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t '.search_filters' %></h3>
      </div>
      <div class="panel-body">
        <%= t '.comming_soon' %>
      </div>
    </div>  
  </div>

  <div class="content col-sm-10 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @subtrips && @subtrips.any? %>

          <%= render @subtrips %> 

        <% elsif @search_subtrip && @search_subtrip.errors.any? %>
          <%= error_messages_for(@search_subtrip) %>
        <% else %>
          <h3><%= t '.no_trip_registered' %></h3>
        <% end %>
      </div>
      <% if @subtrips.try(:any?) %>
        <%= will_paginate @subtrips %>
      <% end %> 
    </div>
  </div>
</div>