<div class="panel panel-default clear">
  <div class="panel-heading">
  	<%=t  '.overview', branch_name: @branch.name, branch: Branch.model_name.human, company_name: @company.name  %>
		<%# if current_user && current_user.can_follow?(user) %>
<!-- 			<div class="follow pull-<%= lang_other_side %>"><%#= follow_button user %></div>  -->
		<%# end %>
  </div>
 
	<% if current_user %>
		<table class="table">
			<tbody>
				<tr>
					<th><%#= t(".number_of_likes", user:  @branch.name) %></th>
					<th><%#=  @branch.followers.size %></th>
				</tr>

				<tr>
					<th><%= t(".trips_count") %></th>
					<th><%#= @trips_count %></th>
				</tr>
				<tr>
					<th><%= t(".trip_canceled_count") %></th>
					<th><%= @trip_canceled_count %></th>
				</tr>

			</tbody>
		</table>

	<% else %>
		<%= force_to_sign_in_message %>
	<% end %> <!-- if current_user -->
			
</div>

