<div id="new_trip_form" class="row col-sm-8">
<div class="panel panel-default">
  <div class="panel-heading">New trip Form</div>
  <div class="panel-body">
    <%= form_for(@trip) do |f| %>
      <%= error_messages_for(@trip) %>
    <div class="panel-body">
     
     <b>Route</b>
      <div class="trip-route">
        <!-- Stopovers -->
        <%= f.simple_fields_for :subtrips do |s| %>
          <%= render 'subtrip_fields', f: s %>
        <% end %>  <!--  f.simple_fields_for :subtrips do |s|  -->
        <%= link_to_add_fields "Add Stopover", f, :subtrips %>
      </div> <!-- trip-route -->

      <!-- Total seats -->
      <div class="row">
        <div class="col-sm-3">
          <%= f.label :total_available_seats, 'Total seats' %>
        </div>  
        <div class="col-sm-8">        
           <% seats = current_user.vehicle.vehicle_model.seats_number  %>
           <%= f.select :total_available_seats, 1..seats, selected: seats, hint: 'This field related to your car\'s seating capacity.', label: false %> <br>
        </div>
      </div>

      <%= grouped_collection_select :test, :origin_id, State.order(:local_name), :cities, :local_name, :id, :local_name, {:class => 'select-via-city form-control '} %>     

      <!-- detail -->
      <div class="row"> 
        <div class="col-sm-3">
          <%= f.label :detail %>
        </div>     
        <div class="col-sm-9">
          <%= f.text_area :detail, class: "form-control col-sm-12", rows: "3" %>
        </div>
      </div> 

      <!-- submit -->
      <div class="row">      
        <div class="col-sm-3 col-sm-offset-9">
          <%= f.submit 'Submit Trip', class: "add_fields btn btn-primary btn-sm pull-left" %>
        </div>
      </div>     
    <% end %>
    </div>
  </div>
</div>
</div>