<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :total_available_seats %>
  </div>
  <hr>
  <%= f.simple_fields_for :subtrips do |builder| %>
  	<fieldset>
    	<%= render 'subtrip_fields', f: builder %>
    </fieldset>
  <% end %>
  <%= link_to_add_fields "Add Subtrip", f, :subtrips %>
	<hr>	
  <%= f.input :detail %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
