<fieldset class="col-sm-12 1col-sm-offset-3">
  <%= link_to "Some Page", '#', class: "add_fields1" %> 
<!-- On -->
  <div class="datetime">
    <div class="col-sm-2">
      <%= t('.on_at') %>  
    </div> 
    <div class="col-sm-6">
      <%= f.select :jday, options_for_day %> 
      <%= f.select :jmonth, options_for_month %>
      <%= f.select :jyear, options_for_year %> 
    </div>

    <div class="col-sm-3">
      <%= f.select :jminute, options_for_minute %> : 
      <%= f.select :jhour, options_for_hour, {:include_blank => true},{class: "required"}  %>
    </div>

  </div>

<!-- Via -->
  <div class="">
    <div class="col-sm-2">
      <%= t('.city') %>  
    </div> 
    <div class="col-sm-9">
      <div class="form-group">
        <%= f.text_field :origin_address, class: "form-control col-sm-12",placeholder: t(".address_placeholder") %>
          <%= f.hidden_field :olat, value: nil %>
          <%= f.hidden_field :olng, value: nil %>
      </div>
    </div>
    <div class="remove_fields_div col-sm-1">
      <%= link_to t(".remove"), "#", class: "remove_fields1" %>
    </div>
  </div>      
</fieldset>

