<div class="trip_timeline">
	<h4> <%= t('.line1') %> <%= jalali_day trip.subtrips.first.date_time %> <%= jalali_date trip.subtrips.first.date_time %></h4>
	<div class="table-responsive">
		<table class="table table-hover trip_timeline_row">
			<thead>
				<tr>
					<th><%= t('from') %></th>
					<th><%= t('to') %></th>
					<th><%= t('at') %></th>
					<th><%= t('price') %></th>
					<th><%= t('seats_left') %></th>
				</tr>
			</thead>
			<tbody>
				<% trip.subtrips.each do |subtrip| %>
				  <% next if subtrip.origin == subtrip.destination %>
					<%= render partial: 'trips/trip/subtrip_row', locals: {subtrip: subtrip} %>
				<% end %>
			</tbody>
		</table>
	</div>
	<% unless trip.detail.blank? %>
		<p><strong><%= t "details" %>:</strong> <%= trip.detail %></p>
	<% end %>
</div>
