<div id="trip_edit" class="trip">
	<div class="col-md-10">
		<div class="panel panel-default">
  		<%= render partial: 'trips/shared/head', locals:{stage: 5} %>
			<%#= error_messages_for(@trip) %>
			<%= render 'trips/shared/trip_summary' %>
			<%= render 'trips/edit/form_trip' %>
			
			<% if @trip.sisters.size > 1 %>
				<br>
				<%= render 'trips/edit/form_trips' %>				
			<% end %>
			
			<br>
			<div class="panel-body subtrips_edit_field">
				<div class="col-xs-12">
					<%= link_to " #{t("next")} >>", @trip ,class: "btn btn-warning pull-#{lang_other_side}" %> 
				</div>	
			</div>
		</div>
	</div>
</div>

