<div id="trips_index">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4><%= t ".title" %></h4>
    </div>
    <div class="panel-body">
      <%= t ".line1" %>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t "date_time" %></th>
            <th><%= t "path" %></th>
            <th><%= t ".total_available_seats" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @trips.each do |trip| %>
            <tr>
              <td>
                  <%= trip.subtrips.first.date_time.to_s(:time) %> &nbsp;
                  <%= am_pm trip.subtrips.first.date_time %>&nbsp;-&nbsp;
                  <%= jdate_humanize(trip.subtrips.first.date_time, params[:locale])  %>
              </td>
              <td>
                <% trip.path_list.each do |s| %>
                  <%= s.origin.local_name %> 
                  <% unless s == trip.path_list.last %>
                    &larr;                    
                  <% end %>
                <% end %>
              </td>
              <td><%= trip.total_available_seats %></td>
              <td>
                <%= render partial: 'trips/index/action_nav', locals: {trip: trip} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>