<div id="trip_edit" class="">
	<div class="col-md-8">
		<div class="panel panel-default">
  		<%= render partial: 'trips/shared/head', locals:{stage: 1} %>
			<div class="panel-body">
		    <p> <%= t ".please_select_driver" %></p>

				<%= form_tag( trips_accept_driver_path, method: :put, id: "select_driver") do %>
					<div class="col-xs-10 col-xs-offset-2 ">
						<div class="radio ">
						  <label>
						  	<% if current_user.is_admin? %>
							  	<span id="admin">
										<strong><%= t('.branch_name') %></strong>

										<%= collection_select(:temp1, :temp_id, Branch.all, :id, :name_with_company, prompt: true) %>
							  		<strong><%= t('.driver_name') %></strong>
										<%= grouped_collection_select :trip, :driver_id,  Branch.order(:name), :drivers, :name_with_company, :id, :name,{include_blank: true}, {class: "required"} %>
							  	</span>

						  	<% else %>
						  		<strong><%= t('.driver_name') %></strong>
									<%= collection_select(:trip, :driver_id, @drivers, :id, :name, prompt: false) %>
						  	<% end %>
						  </label>
						</div>			
					</div>				

					<div class="col-xs-12">
						<%= submit_tag " #{t("next")} >>", class: "btn btn-warning pull-#{lang_other_side}" %>
					</div>
					<div class="col-xs-12">						
						<%= link_to "#{t(".for_myself")} >>", trips_select_date_format_path ,class: "btn btn-default pull-#{lang_other_side}" %> 
					</div>	
				<% end %>								
			</div>
		</div>
	</div>
</div>

