<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @trip.subtrips.first.datetime.to_s(:date) if @trip.subtrips.any? %>
</p>
<%= select_date(@trip.subtrips.first.datetime) %>
<%=  distance_of_time_in_words(Time.now, @trip.subtrips.first.datetime)   %>
<table class="table">
	<tbody>
		<%= table_show_cell "Total available seats:", @trip.total_available_seats %>
		<%= table_show_cell "From:", "#{@trip.first_city.origin.name}  at (#{@trip.first_city.datetime.to_s(:time)})" %>	
		<% @trip.via_cities_obj.each do |c| %>
			<%= table_show_cell "VIA:", "#{c.origin.name} at (#{c.datetime.to_s(:time)})" %>
		<% end %>
		<%= table_show_cell "To:", @trip.last_city.destination.name %>
	</tbody>
</table>




<p>
  <strong>Total available seats:</strong>
  <%= @trip.total_available_seats %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @trip.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @trip.driver.name %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
