<div id='cover'>
	<div class="coverImage">
		<%= image_tag(@user.cover.url(:large), 
				alt:"#{@user.name} in hamsafaryab.com", class: "img-responsive") %>
	</div>

	<% if current_user.can_follow? @user %>
		<div class="follow"><%= follow_button @user %></div> 
	<% end %>
	
	<% if can? :edit, @user %>
		<%= simple_form_for(:user, url: user_registration_path, html: { method: :put, class: "cover_upload_form" } ) do |f| %>
			<%= f.input :cover, as: :file, label: false, input_html: { class: 'cover_upload_button' } %>
		 	<%= f.button :submit, "Please wait",disabled: true, class: 'btn-primary cover_upload_submit'%>
		<% end %>
	<% end %> 

	<!-- Hidden for large screens -->
	<%= render 'users/show/avatar_and_brief_for_small_screen' %>
</div>


