<!-- --       Larg Screen      -- -->
<div id="sidebar" class="col-lg-4">
  <%= render 'users/show/avatar_and_brief_for_large_screen' %>

<div class="panel panel-default">
  <div class="panel-body">
		Last loged in from: 
		<%= @user.last_login_city %>, 
		<%= @user.last_login_country %>  
	</div>
</div>

  <p></p>
	<%= render 'single_profile' %>
	<%= render 'vehicles/show' %>

	<%= render partial: 'users/users_raw', locals: {users: @followed_users, title: "#{@user.name }'s Followed Users "} %>

</div>
<div id="leftContent" class="col-lg-8">
	<%= render 'users/show/cover' %>
	<%= flash_creator flash %>
	<%= render @shouts %>

</div>
