<!-- --       Small Screen     -- -->
<div class=" hidden-lg "> 
	<%= render 'users/show/cover' %>
	<%= flash_creator flash %>
	<%= render 'single_profile' %>
	<%= render 'vehicles/show' %>
	<%= render @shouts %>
</div>
