<h3>Acount settings</h3>
<%= f.input :email %>
<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>  

<%= f.input :password, 
					   hint: "leave blank if you don't want to change it.",
					   placeholder: "password", 
					   input_html: { autocomplete: "off" }
					    %>
<%= f.input :password_confirmation,
  placeholder: "password confirmation"  %>
<%= f.input :current_password, 
						 hint: "we need your current password to confirm your changes.",
						 placeholder: "current password"  %>

<%= f.button :submit %>
