<%= simple_form_for( [@company, @branch]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :tel %>
    <%= f.input :mobile %>
    <%= f.input :city %>
    <%= f.association :manager %>
    <%= f.association :company %>
    <%= f.input :cover %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
