<h1>Listing branches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Tel</th>
      <th>City</th>
      <th>manager</th>
      <th> company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.address %></td>
        <td><%= branch.email %></td>
        <td><%= branch.tel %></td>
        <td><%= branch.city %></td>
        <td><%= branch.manager.try(:name) %></td>
        <td><%= branch.company.try(:name) %></td>
        <td><%= link_to 'Show', [@company, branch] %></td>
        <td><%= link_to 'Edit', edit_company_branch_path(id: branch.id) %></td>
        <td><%= link_to 'Destroy', company_branch_path(id: branch.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch', new_company_branch_path %>
