<h1>Listing transportation_companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tel</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transportation_companies.each do |transportation_company| %>
      <tr>
        <td><%= transportation_company.name %></td>
        <td><%= transportation_company.tel %></td>
        <td><%= transportation_company.email %></td>
        <td><%= link_to 'Show', transportation_company %></td>
        <td><%= link_to 'Edit', edit_transportation_company_path(transportation_company) %></td>
        <td><%= link_to 'Destroy', transportation_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transportation company', new_transportation_company_path %>
