<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transportation_company.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @transportation_company.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @transportation_company.email %>
</p>

<%= image_tag( @transportation_company.image.url(:medium), alt: @transportation_company.name ,size: "340x100") %>
<br>	
<%= image_tag( @transportation_company.cover.url(:large), alt: @transportation_company.name ,size: "851x315") %>


<%= link_to 'Edit', edit_transportation_company_path(@transportation_company) %> |
<%= link_to 'Back', transportation_companies_path %>
