Hello <%= @driver.name %>, <%#= @passenger.inspect %>
<p><%= link_to @passenger.name, url_for(	host: @host,
																			controller: 'profiles', 
																			action: 'show', 
																			id: @passenger.slug, 
																			locale: 'fa') %>
      
 has requested a reservation. the reservation details are:</p>
<table>
	<tbody>
		<tr>
			<th>Origin:</th>
			<td><%= @subtrip.origin.name %></td>
		</tr>
		<tr>
			<th>Destination:</th>
			<td><%= @subtrip.destination.name %></td>
		</tr>
		<tr>
			<th>Day:</th>
			<td><%= @jalali_day %></td>
		</tr>
		<tr>
			<th>Date:</th>
			<td>
				<%= @jalali_month %>
				<%= @jalali_day_num %> 
			</td>
		</tr>
		<tr>
			<th>Time:</th>
			<td><%= @jalali_time %></td>
		</tr>
		<tr>
			<th>Price:</th>
			<td><%= @subtrip.price %></td>
		</tr>
	</tbody>
</table>

<p>For acceptance of this reservation please click on accept button or reject</p>

<%# accept = url_for(controller: 'bookings', action:'show', id: @booking.id,	 locale: 'fa', host: @host)  %>
<% @accept_url = url_for(controller: 'bookings', action:'booking_acceptance', booking_id: @booking.id,	 locale: 'fa', host: @host, accept_status: @accept)  %>
<% @reject_url = url_for(controller: 'bookings', action:'booking_acceptance', booking_id: @booking.id,	 locale: 'fa', host: @host, accept_status: @reject)  %>

<%= link_to "Accept", @accept_url %> <br>
<%= link_to "Reject", @reject_url %>

<a href="<%#= url_for(controller: 'users',
						 action:'show', 
						 id: @booking.id,
						 locale: 'fa',
						 host: @host) %>">
</a>
<p>HamsafarYab's team</p>