<%= render 'shared_mail/style' %>
<%= render 'user_mailer/style' %>
<%= render 'shared_mail/header' %>
	<%= t 'hi' %> <%= @passenger.name %>, <br> <br>
	<%= t '.line1' %> <br>
	<br>
	<h3><%= t '.driver_details' %></h3>
	<table>
		<tbody> 
			<tr>
				<th><%= t 'name_of_driver' %></th>
				<td>
					<%= link_to @driver.name, url_for(	host: @host,
																				controller: 'profiles', 
																				action: 'show', 
																				id: @driver.slug, 
																				locale: 'fa') %>
				</td>
			</tr>
				<th><%= t 'contact_number' %></th>
				<td><%= @driver.tel %>, <%= @driver.mobile %>	</td>
			</tr>
			</tr>
				<th><%= t 'email' %></th>
				<td><%= @driver.email %></td>
			</tr>
		</tbody>
	</table>

	<%= render 'trip_details' %>

	<%# accept = url_for(controller: 'bookings', action:'show', id: @booking.id,	 locale: 'fa', host: @host)  %>
	<% @subtrip_url = url_for(controller: 'subtrips', action:'show', id: @subtrip.id,	 locale: 'fa', host: @host)  %>

	<%= link_to t(".go_to_subtrip"), @subtrip_url, {class: "button"}  %>
<%= render 'shared_mail/footer' %>
