<%= render 'shared_mail/header' %>
	<%= t 'hi' %> <%= @user.name %>,
	<p>
		<%= t '.line1' %>
	</p>
	<p>
		<%= t '.line2' %> <br>
		<a href="<%= url_for(controller: 'trips', action:'new', locale: locale,	 host: @host) %>">
			<%= t '.insert_trip' %>
		</a>
	</p>
	<p>

	<p>
		<%= t '.line3' %> <br>
		<a href="<%= url_for(controller: 'search_subtrips', action:'search', locale: locale,	 host: @host) %>">
			<%= t '.search_trip' %>
		</a>
	</p>
	<!-- <p><%#= link_to t("sign"), root_url(locale: locale) %></p> -->

<%= render 'shared_mail/footer' %>
