<%= render 'shared_mail/style' %>
<%= render 'shared_mail/header' %>
	<%= t 'hi' %> <%= @user.name %>,
	<p>
		<%= t '.line1' %>
	</p>
	<p>
		<%= t '.line2' %> <br>
		<% insert_trip_url = url_for(controller: 'trips', action:'start_new_trip', locale: locale,	 host: @host) %>
		<%= link_to t('.insert_trip'), insert_trip_url, {class: "button"} %>
	</p>
	<p>

	<p>
		<%= t '.line3' %> <br>
		<% search_url = url_for(controller: 'search_subtrips', action:'search', locale: locale,	 host: @host) %>
		<%= link_to t('.search_trip'), search_url, {class: "button"} %>

	</p>
	<!-- <p><%#= link_to t("sign"), root_url(locale: locale) %></p> -->

<%= render 'shared_mail/footer' %>
