<%= simple_form_for([@vehicle_brand, @vehicle_model]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <strong>number of seats:</strong> 
    <%= f.select :seats_number, 1..50, {selected: 4} %>

    <%#= f.input :default_image %>
    <%#= f.input :up_view_image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
