<div class="panel panel-default">
  <div class="panel-body top_search_trip_form">
	  <div id="top-search-form">
			<%= simple_form_for :search_subtrip, url: search_search_subtrips_path, method: :get, 
		    :html => { :class => 'form-inline subtrip_search_form',role: "form" } do |f| %>
				
		<!-- Search From Select -->
				<%= render partial: 'search_subtrips/search_form_with_autocomplete', locals:{f: f} %>	

		<!-- DatePicker -->
				<div class="form-group datepicker-input col-sm-4 col-lg-3">
					<% if locale == :en %>
        		<%= f.input :date_time,placeholder: "mm / dd / yyyy", label: false,input_html: { id: "datepicker", class: "form-control gdate" }  %>
					<% else %>
				    <%= f.select :jday, 1..31,{}, {class: "datepicker"}    %> 
				    <%= f.select :jmonth, collection_for_month,{}, {class: "datepicker"}   %>
				    <%= f.select :jyear, 1393..1394,{}, {class: "datepicker"}   %> 
					<% end %>
				</div>
		<!-- Submit -->
			  <div class="search_btn col-sm-4 col-lg-1 ">
						<%= f.button :submit, t("search_subtrips.form.search_btn"), class: "btn btn-primary gold_btn " %>
				</div>		
			<% end %>
		</div>
	</div>
</div>