<!-- Origin -->
<div class="origin_input col-sm-6  my-col-md-12 my-col-lg-7">
	<%= f.input :origin_name,:label => false, placeholder:t("search_subtrips.form.mode.autocomplete.placeholder.origin"),  input_html: {class: "form-control"} %>					
	<div class=" cycle autocomplete_mode" style="border:0;">
		<%= f.select :origin_cycle, (5..50).step(5).map{|s| ["#{s} #{t("search_subtrips.form.km")}", s]}%>
	</div>
</div>

<!-- Destination -->
<div class=" destination_input col-sm-6  my-col-md-12 my-col-lg-7">
	<%= f.input :destination_name,:label => false, placeholder: t("search_subtrips.form.mode.autocomplete.placeholder.destination"), input_html: {class: "form-control"} %>
	<div class=" cycle autocomplete_mode"  style="border:0;">
		<%= f.select :destination_cycle, (5..50).step(5).map{|s| ["#{s} #{t("search_subtrips.form.km")} ", s]}%> 
	</div>
</div>

<!-- Hidden fields -->
<%= f.hidden_field :origin_lat, value: nil %>
<%= f.hidden_field :origin_lng, value: nil %>
<%= f.hidden_field :destination_lat, value: nil %>
<%= f.hidden_field :destination_lng, value: nil %>	
<%= f.hidden_field :autocomplete, value: true %>	
