<!-- Origin -->
<div class="origin_input col-sm-6 col-md-4">
	<%= f.input :origin_id,:label => false, placeholder:"Select start city",  input_html: {class: "form-control"} %>					
	<div class=" cycle autocomplete_mode">
	<%= f.select :origin_cycle, (0..50).step(5).map{|s| ["#{s} Km", s]}, {}, class: ""%>
	</div>
</div>

<!-- Destination -->
<div class=" destination_input col-sm-6 col-md-4">
	<%= f.input :destination_id,:label => false, placeholder: "Select your destination", input_html: {class: "form-control"} %>
	<div class=" cycle autocomplete_mode">
	<%= f.select :destination_cycle, (0..50).step(5).map{|s| ["#{s} Km", s]}, {}, class: "" %> 
	</div>
</div>

<!-- DatePicker -->
<div class="datepicker-input col-sm-4 col-md-3">
	<%= f.text_field :date, class: "form-control datepicker" %>
</div>

<!-- Hidden fields -->
<%= f.hidden_field :origin_lat %>
<%= f.hidden_field :origin_lng %>
<%= f.hidden_field :destination_lat %>
<%= f.hidden_field :destination_lng %>		