<% if (subtrips[i-1] && subtrips[i].jday !=  subtrips[i-1].jday) || i == 0%>
	<tr  class="success">
		<td><h4> <%= jalali_day subtrips[i].date_time %> </h4></td>
		<td><h4> <%= jalali_date subtrips[i].date_time %> </h4></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
<% end %>

<tr>
	<td><%= s.date_time.to_s(:time) %> </td>
	<td><%= s.origin.local_name %> </td>
	<td><%= s.destination.local_name %> </td>
	<td><%= s.price %> </td>
	<td>
		<%= s.trip.driver.name %> 
		<%= gravatar(s.trip.driver, 32, "img-rounded img-circle") %>
		<!-- TODO Raiting -->
		<span class="ratingSmall">TODO</span>
	</td>
	<td><%= link_to "Detail", subtrip_path(s.id) %></td>
</tr>

