<tr>
	<td><%= s.origin.name %> </td>
	<td><%= s.destination.name %> </td>
	<td><%= s.date_time.to_s(:time) %> </td>
	<td><%= s.price %> </td>
	<td><%= s.trip.driver.name %> </td>
	<td><%= link_to "Book trip", booking_path(s.id) %></td>
</tr>
