<tr>
	<td><%= s.origin.name %> </td>
	<td><%= s.destination.name %> </td>
	<td><%= s.date_time.to_s(:time) %> </td>
	<td><%= s.price %> </td>
	<td>
		<%= s.trip.driver.name %> 
		<%= gravatar(s.trip.driver, 32, "img-rounded img-circle") %>
		<!-- TODO Raiting -->
		<span class="ratingSmall">TODO</span>
	</td>
	<td><%= link_to "Detail", subtrip_path(s.id) %></td>
</tr>
