<%#= request.remote_ip %>
<%#= Geocoder.search("77.182.200.130").first.try(:latitude) %>
<%= render partial: 'search_form', locals:{ search_subtrip: @search_subtrip  } %>

<div id="search_subtrips">
	<div class="sidebar col-sm-2">
		<div class="panel panel-default ">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= t '.search_filters' %></h3>
		  </div>
		  <div class="panel-body">
		    <%= t '.comming_soon' %>
		  </div>
		</div>	
	</div>

	<div class="content col-sm-10 col-lg-8">
		<div class="panel panel-default">
	  	<div class="panel-body">
				<% if @subtrips && @subtrips.any? %>

					<%= render @subtrips %>	

				<% elsif @search_subtrip && @search_subtrip.errors.any? %>
					<%= error_messages_for(@search_subtrip) %>
				<% else %>
					<div class="col-sm-12">
						<%= render 'no_record_found' %>				
					</div>
				<% end %>
			</div>
			<% if @subtrips.try(:any?) %>
				<%= will_paginate @subtrips %>
			<% end %>	
		</div>
	</div>
</div>