<div id="mynet">
  <div class="person-block col-md-1 col-md-offset-5">
    <%= link_to gravatar(@mynet.me), profile_url(@mynet.me) %> <%= @mynet.me.name %>
  </div>

  <% di1 = @mynet.me.invited_users.size %>
  <% @mynet.me.invited_users.each do |user| %>
    <div class="person-block col-md-<%= 12/di1 %>  ">
      <div class="col-md-12">
        <div class="single">
          <%= link_to gravatar(user), profile_url(user) %> <%= user.name %> ,id=<%= user.id %>
        </div>
      </div>

      <% di2 = user.invited_users.size %>
      <% user.invited_users.each do |user2| %>
        <div class="person-block col-md-<%= 12/di2 %>  ">
          <div class="single">
            <%= link_to gravatar(user2), profile_url(user2) %> <%= user2.name %>,id=<%= user2.id %>
          </div>

          <% di3 = user2.invited_users.size %>
          <% user2.invited_users.each do |user3| %>
            <div class="person-block col-md-<%= 12/di3 %>  ">
              <div class="single">
                <%= link_to gravatar(user3), profile_url(user3) %> <%= user3.name %>,id=<%= user3.id %>
              </div>
            </div><!-- di2 -->
          <% end %> 

        </div><!-- di2 -->
      <% end %> 

    </div> <!-- di1 -->
  <% end %> 


</div>
