<a href="<%= subtrip_path(subtrip.id) %>" >
	<div style="<%= full_style subtrip %>" class="search_subtrips_raw row ">
		<div class="user-info col-xs-4">
			<div class="gravatar">
				<%= gravatar(subtrip.trip.driver, 72, "img-thumbnail") %>				
			</div>
				<div class="user">
					<h2 class="name">	<%= subtrip.trip.driver.name %> </h2>
					<% if subtrip.trip.driver.age %>
						<span class="old small text-muted">
							<%= subtrip.trip.driver.try(:age) %> 
							<%= t('years_old') %>
						</span>						
					<% end %>
				<!-- TODO Raiting -->					
				</div>

			<span class="ratingSmall col-md-">
				<span class="stars"></span>
				<span class="reviews"><%= t 'reviews' %></span>
			</span> 
		</div>

		<div class="description col-xs-5">		
			<h3 class="time">
				<%= subtrip.date_time.to_s(:time) %> 
				<%= am_pm subtrip.date_time %> &nbsp; 
				<small><%= apropriate_date_humanize(subtrip) %></small>

			</h3> 
			<h3 class="fromto">
				<div class="table-responsive">
				  <table class="table">
					  <tbody>
					  	<tr>
					  		<td>
									<span class="from"><%= subtrip.origin %> </span>
					  		</td>
				  
					  		<td class="to"><%= params[:locale] == "fa" ? "&larr;".html_safe : "&rarr;".html_safe %></td>
					  		<td>
									<span class="to" style='float: <%= lang_other_side %>;'><%= subtrip.destination %></span>
					  		</td>
					  	</tr>
					  </tbody>
				  </table>
				</div>

			</h3>
			<h4 class="car">
				<%= t 'car_model' %> 
				:&nbsp; 
				<%= subtrip.trip.driver.vehicle.try(:vehicle_model).try(:name) %>  
				<%= subtrip.trip.driver.try(:vehicle).try(:vehicle_model).try(:vehicle_brand).try(:name) %>
			</h4>
		</div>

		<div class="offer col-xs-3">
			<div class="price">
				<strong>
				<%#= number_to_currency(1234567,  separator: "٬", format: "%n") %> 
					<%= t 'currency', amount: currency(subtrip.price), unit: subtrip.trip.currency.try(:symbol) %>
				</strong>
				<span class="price-unit"><%= t('per_passenger') %></span>
			</div>

			<div class="avalability">
				<strong><%= subtrip.free_seats %> </strong>
				<span><%= t('seats_left') %> <%= t('.from') %> <%= subtrip.seats.size %></span>
			</div>
		</div>

		<% if subtrip.trip.ladies_only %>
			<div class="ladies_only <%= lang_other_side %>0" >
				<%= image_tag("#{IMAGES_PATH}ladies_only_#{params[:locale]}.png" ) %>	
			</div>				
		<% end %>

	</div>
</a>
