<table class="table">
  <tbody>
  <h3>Subtrip detail</h3>
		<%= table_show_cell "From"	,@subtrip.origin.local_name %>
		<%= table_show_cell "To"  	,@subtrip.destination.local_name %>
		<%= table_show_cell "On"		,jalali_date(@subtrip.date_time) %>
		<%= table_show_cell "At"		,jalali_time(@subtrip.date_time) %>
		<%= table_show_cell "Price" ,@subtrip.price %>
  </tbody>
</table>

<%= render 'seats_form' %>