<div class="subtrip_single">
	<div class="col-sm-7">
		<%= render 'subtrips/show/subtrip_overview' %>
		<%= render 'subtrips/show/gmap' %>
	</div>

	<div class="col-sm-5">
		<% if @branch.present? %>
			<%= render 'subtrips/show/branch_overview' %>			
		<% end %>
		<% if @branch.nil? || (@driver.is_active? @branch) %>
			<%= render 'subtrips/show/driver_overview' %>
		<% end %>
		<%= render 'subtrips/show/seats_status' %>
		<%= render partial: 'vehicles/show', locals: {user: @subtrip.trip.driver} %>
	</div>
</div>
