<% @page_title = t(".title", origin: @subtrip.origin_city, destination: @subtrip.destination_city ) %>

<div class="subtrip_single">
	<div class="col-sm-7">
		<%= render 'subtrips/show/subtrip_overview' %>
		<%= render 'subtrips/show/gmap' %>
	</div>

	<div class="col-sm-5">
		<% if current_user && @booking %>
			<%= render 'subtrips/show/passenger_booking_status' %>			
		<% end %>

		<% if (can? :booking_response, @subtrip.bookings.first) && @subtrip.waiting_bookings.any? %>
			<%= render 'subtrips/show/booking_wait_list' %>			
		<% end %>

		<% if @branch.present? %>
			<%= render 'subtrips/show/branch_overview' %>			
		<% end %>
		<% if @branch.nil? || (@driver.is_active? @branch) %>
			<%= render 'subtrips/show/driver_overview' %>
		<% end %>
		<%= render 'subtrips/show/seats_status' %>
		<%= render partial: 'vehicles/show', locals: {user: @subtrip.trip.driver} %>
	</div>
</div>
