<%= render 'shared_mail/style' %>
<%= render 'notification_mailer/style' %>
<%= render 'shared_mail/header' %>

<div class="comment_notification">
	<table>
		<tbody>
			<tr>
				<td>
					<%= t(".subject", sender: @sender.name) %>
				</td>
			</tr>

			<tr>
				<td id="comment"> 
					<%=link_to (gravatar @sender, size = 50, klass = "gravatar", style = :square), mailer_profile_url(@sender) %> 
					<span id="body"><%= @message.body %></span>
				</td>
			</tr>
			
			<tr>
				<td id="see_post"> 
					<%# messageable_url = url_for controller: @message.messageable.class.name.downcase.pluralize, 
						action: 'show', host: @host, id: @message.messageable.id, locale: locale  %>	

					<% message_url = url_for(:controller => 'contacts', :action => 'index', :host => @host, locale: locale) %>											
					<%=link_to t(".see_message"), message_url, class: "button" %> 
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
<%= render 'shared_mail/footer' %>
