<p><%= link_to "back", superadmins_path %></p>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>id</th>
		</tr>
	</thead>
	<tbody>
		<% @trips.each do |trip| %>
			<tr>
				<td><%= link_to trip.id, trip_path(trip) %></td>
				<td><%= link_to trip.driver.name, profile_url(trip.driver) %></td>
				<td><%= trip.subtrips.size %></td>
				<td> 
					<% trip.subtrips.each do |subtrip| %>
						<%= subtrip.origin %>
					<% end %>	
				</td>
				<td><%= jdate_humanize_without_today trip.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>
