<div id="bookings_index">
  <div class="panel panel-success">
    <div class="panel-heading"><h4><%= t ".title" %></h4></div>
    <div class="panel-body">
      <%= t ".line1" %>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t "date_time" %></th>
            <th><%= t "path" %></th>
            <th><%= t ".number_of_seats" %></th>
            <th><%= t ".acceptance_status" %></th>
          </tr>
        </thead>

        <tbody>
          <% @bookings.each do |booking| %>
            <% if booking.subtrip %>
              <tr>
                <td>
                  <%= booking.subtrip.date_time.to_s(:time) %> &nbsp;
                  <%= am_pm booking.subtrip.date_time %>&nbsp;-&nbsp;
                  <%= jdate_humanize(booking.subtrip.date_time)  %>
                </td>
                <td>
                  <%= booking.subtrip.origin %>&larr;
                  <%= booking.subtrip.destination %>
                </td>
                <td>
                  <% booking.find_seat_numbers(booking.subtrip, booking).each do |s| %>
                    <% if booking.find_seat_numbers(booking.subtrip, booking).last == s %>
                      <%= s+1 %>
                    <% else %>                      
                      <%= s+1 %>,
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= status_indicator booking.acceptance_status %>
                </td>
                <td>
                  <%= render partial: 'bookings/index/action_nav', locals: {booking: booking} %>
                </td>
              </tr>              
            <% end %> <!-- if -->
          <% end %> <!-- each -->
        </tbody>
      </table>
    </div>
  </div>
</div>