<h2><%= @user.name %>'s profile</h2>

<% if current_user.can_follow? @user %>
	<%= follow_button @user %>
<% end %>

<%= render @shouts %> <hr>

<%= render 'single_profile' %><hr>



	<%= render 'vehicles/show' %>	

