<div id="user_show" class="user_profile">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
		    <h3 class="panel-title col-xs-8">
		    	<%= @user.name.titleize %> <%= t (".title") %>
		    </h3>
				<div class="pull-left">
					<%= gravatar @user, 85, "img-thumbnail", :square %>
				</div>		    	   
		  </div>


			<ul id="myTab" class="nav nav-tabs nav-justified">
			  
			  <li class="active">
			  	<a href="#personal_profile" data-toggle="tab"><%= t('users.personal_profile') %></a>
			  </li>

			  <li><a href="#contact_details" data-toggle="tab"><%= t('users.contact_details') %></a></li>
			  <li><a href="#acount_settings" data-toggle="tab"><%= t('users.account_settings') %></a></li>
			  <li><a href="#page_url" data-toggle="tab"><%= t('users.page_url') %></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				<div class="tab-pane active" id="personal_profile">
				  <%= render partial: 'users/show/personal_profile' %>
				</div>

			  <div class="tab-pane" id="contact_details">
			  	<%= render partial: 'users/show/contact_details' %>
			  </div>

				<div class="tab-pane" id="acount_settings">
					<%= render partial: 'users/show/acount_settings' %>
				</div>

			  <div class="tab-pane" id="page_url">
					<%= render partial: 'users/show/page_url' %>
			  </div>
			</div>
		</div>
	</div>


	<p class="tab" style="visibility:hidden;">
		<%= params[:user][:tab] if params[:user] && params[:user][:tab] %>
	</p>	
</div>
