<%= render 'shared_mail/style' %>
<%= render 'shared_mail/header' %>

	<p><%= t "hi" %> <%= @inviter.name %> , </p>

	<p><%= @invited_user.name %> <%= t ".line1" %></p>

	<p><%= t ".line2" %></p>

	<%= link_to t(".go_to_profile", name: @invited_user.name), @invited_user_profile_url, {class: "button"} %>

	<p><%= link_to t("sign"), root_url(locale: locale) %></p>

<%= render 'shared_mail/footer' %>
	