<%= render 'shared_mail/style' %>
<%= render 'shared_mail/header' %>
	<p><%= t 'hi' %>, </p>

	<p><%= link_to @inviter.name, mailer_profile_url(@inviter) %>

		<%= t('.line1') %></p>

	<% @accept_invite_url = url_for(controller: 'invitations', action:'invite_acceptation', inviter: @inviter.slug,	 locale: locale, host: @host)  %>

	<%= link_to t(".accept_invite"), @accept_invite_url, {:style => "float: #{@lang_other_side}", class: "button"} %>

<%= render 'shared_mail/footer' %>

