<div class="users-list panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%= title %>
    	<% if random_user %>
				<small class="pull-left "> <%= t 'city' %> </small>    		
    	<% else %>
				<small class="pull-left "> <%= t 'last_login' %> </small>    		
    	<% end %>
    </h3>

  </div>
  <div class="panel-body">
		<% if users.any? %>		
			<% users.each do |user| %>
				<div class="user-row-small">
					<%= link_to user.name, profile_url(user) ,class: "user-name" %>

					<%= link_to contact_path(user.slug) do %>
						<% klass = user.online? ? "online" : "offline" %>
						<div class="message <%= klass %> pull-<%= lang_other_side %>"></div> 
					<% end %>

					<span class="followers-number small">
						(
							<%= user.followers.size %> <%= t('followers_num') %> , 
							<%= user.followed_users.size %> <%= t('followed_users_num') %> 
						)
					</span> 

					<span class="<%= "online" if user.online? %> ">
						<%= link_to gravatar(user, 50, "img-thumbnail"), profile_url(user) %>
					</span>		
					
					<% if random_user %>
						<small class="pull-left text-muted meta"> <%= user.city_name %> </small>   		
					<% else %>
						<%= resent_activity(user, "meta") %>						
					<% end %>
						
				</div>

			<% end %>	
		<% else %>
			<%= t('.list_is_empty') %>
		<% end %>
  </div>
</div>