<div class="panel-body subtrips_edit_field">
  <%= simple_form_for(@trip,
    html: { method: :put, class: 'form-horizontal' } ) do |f| %>

    <%#= render 'trips/show_edit/subtrips_header' %>

    <%= render 'trips/show_edit/edit/trip', f: f %>
    
    <h4>سفرهای متوالی ثبت شده با این سفر</h4>
    <%= render partial: 'trips/show_edit/edit/trips', locals: {trips: @trips} %>

    <div class="form-group">
      <%= f.label :total_available_seats, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <strong><%= f.object.total_available_seats %></strong> 
      </div>
    </div>

    <div class="form-group">
      <%= f.label :detail,class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_area :detail,  rows: 4, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <% if can? :edit, @trip %>
          <%= f.submit " #{t("next")} >>", class: "btn btn-warning pull-left" %>
          <%= link_to t('.delete'), trip_path(@trip), method: :delete, class: "btn btn-danger" %>
        <% end %>

      </div>
    </div>

  <% end %>


</div>
