<a href="<%= subtrip_path(f.object.id) %>">
<fieldset>
  <span class="col-sm-3">  
    <%#= am_pm f.object.date_time %>
    <%= jalali_time f.object.date_time %>
  </span>  
  <span class="col-sm-3"><%= f.object.origin.name %> </span>
  <span class="col-sm-3"><%= f.object.destination.name %> </span>
	<span class="col-sm-2"><%= t('currency', amount: f.object.price) %></span>  	

  <%#= f.hidden_field :_destroy %>
  <%#= link_to t('remove') , "#", class: "remove_fields col-sm-1 pull-left" %>  
</fieldset>
</a>