<div class="panel-body ">	
	<div class="col-sm-4 panel-body">
		<strong>
				<%= t('.description', date: @date) %> 
				(<%=  distance_of_time_in_words(Time.now, @trip.subtrips.first.date_time)   %>)
		</strong>
	</div>

	<div class="col-sm-8 route_table">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th><%= t 'city' %></th>
					<th><%= t 'at' %></th>
					<th><%= t 'trips.subtrip_fields.on' %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><%= t 'from' %></th>
					<td><%= @trip.first_city.origin %></td>
					<td><%= @trip.first_city.date_time.to_s(:time) %></td>
					<td>
						<%= @trip.first_city.jyear %>-<%= @trip.first_city.jmonth %>-<%= @trip.first_city.jday %>
					</td>
				</tr>

				<% @trip.via_cities.each do |c| %>
					<tr>
						<th><%= t 'via' %></th>
						<td><%= c.origin%></td>
						<td><%= c.date_time.to_s(:time) %></td>
					<td>
						<%= c.jyear %>-<%= c.jmonth %>-<%= c.jday %>
					</td>
					</tr>
				<% end %>

				<tr>
					<th><%= t 'to' %></th>
					<td><%= @trip.last_city.destination %></td>
					<td><%= @trip.subtrips.last.date_time.to_s(:time) %></td>
					<td>
						<%= @trip.subtrips.last.jyear %>-<%= @trip.subtrips.last.jmonth %>-<%= @trip.subtrips.last.jday %>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>