<table id="trips" class="table table-hover">
	<thead>
		<th><%= t "mydate" %></th>
		<th><%= t "day" %></th>
		<th><%= t "at" %></th>
		<th><%= t "from" %></th>
		<th><%= t "to"  %></th>
		<th><%= t "price"   %></th>
	</thead>
	<tbody>
	  <% @trips.each do |trip| %>
	    <% trip.subtrips.each do |subtrip| %>
	      <% next if subtrip.origin.downcase == subtrip.destination.downcase %>
	      <%= render 'trips/edit/trips_rows', subtrip: subtrip %>
	    <% end %>        
	  <% end %>
	</tbody>
</table	>	

<table id="trip" class="table table-hover">
	<thead>
		<th><%= t "from" %></th>
		<th><%= t "to"  %></th>
		<th><%= t "price"   %></th>
	</thead>
	<tbody>
 		<%= f.simple_fields_for :subtrips do |b| %>
      <% next if b.object.origin.downcase == b.object.destination.downcase %>
      <%#= render 'trips/edit/trip_rows', f: b  %>
			<tr>
				<td><%= b.object.origin %> </td>
				<td><%= b.object.destination %> </td>
				<td><%= b.select :price, (0..(100 * b.object.trip.currency.price_step)).step(b.object.trip.currency.price_step).map{|s| ["#{t('currency', amount: s, unit: b.object.trip.currency.try(:symbol) )}", s]},{prompt: b.object.price }, {class: "time_select"} %></td>
			</tr>
	  <% end %>
	</tbody>
</table	>	

<div class="row">

  <div class="col-sm-7">
    <div class="col-sm-2">
  		<strong><%= f.label :detail %></strong>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :detail,  rows: 3, class: "form-control" %>
    </div>
  </div>

	<div class="col-sm-5">
		<div class="col-xs-7">
	 		<%= f.submit t(".all_trips_update"), class: "btn btn-warning" %>
		</div>
		<div class="col-xs-5">
			<%= link_to t('.all_trips_delete'), trip_path(@trip, group_delete: 1), method: :delete, class: "btn btn-danger pull-#{lang_other_side}" %>	
		</div>
	</div>
</div>
