<%= render 'shared_mail/style' %>
<%= render 'shared_mail/header' %>

 <p><strong>company_name : </strong><%= @company_name %>	</p>
 <p><strong>branch_name : </strong><%= @branch_name %>	</p>
 <p><strong>branch_address : </strong><%= @branch_address %>	</p>
 <p><strong>branch_tel : </strong><%= @branch_tel %>	</p>
 <p><strong>operator_mobile : </strong><%= @operator_mobile %>	</p>
 <p><strong>operator_email : </strong><%= @operator_email %>	</p>
 <p><strong>detail : </strong><%= @detail %>	</p>

<%= render 'shared_mail/footer' %>
	