<%= render 'shared_mail/style' %>
<%= render 'shared_mail/header' %>

 <p><strong>Name : </strong><%= @sender_name %>	</p>
 <p><strong>Subject : </strong><%= @subject %>	</p>
 <p><strong>Message : </strong><%= @message %>	</p>
 <p><strong>Email : </strong><%= @email %>	</p>

<%= render 'shared_mail/footer' %>
	