<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :tel %>
    <%= f.input :email %>
    <%= f.association :director %>
    <%= f.input :website %>
    <%= f.input :about %>
    <%= f.input :image %>
    <%= f.input :cover %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
