<div class="row subtrip-row">
	<a href="<%= subtrip_path(subtrip.id) %>" >
		<div class="fromto">
			<div class="col col-xs-5">
				<span class="from"><%= subtrip.origin %> </span>
				<span class="arrow-ie">&larr;</span>  
				<span class="to"><%= subtrip.destination %></span>
			</div>
		</div>

		<div class="time">
			<div class="col col-xs-2">
				<%= subtrip.date_time.to_s(:time_ampm) %>  <br>
				<small>
					<%= jdate_humanize(subtrip.date_time) %>
				</small>
			</div>
		</div>

		<div class="price">
			<div class="col col-xs-2">
				<strong>
					<%= t 'currency', amount: currency(subtrip.price), unit: subtrip.trip.currency.try(:symbol) %>
				</strong> <br>
				<span class="price-unit"><%= t('per_passenger') %></span>
			</div>
		</div>

		<div class="user-info ">
			<div class="col col-xs-3">
				<% if subtrip.trip.driver.branches.any? %>
					<%= image_tag(subtrip.trip.driver.branches.first.company.image.url(:thumb), class: "img-responsive logo pull-#{lang_side}") %>
				<% else %>
					<%= gravatar(subtrip.trip.driver, 42, "img-thumbnail") %>	
					<span class="name">حمید محسنی </span>
				<% end %>
			</div>
		</div>
	</a>
</div>
