<!-- Origin -->
<div class="form-group">
	<div class="origin_input cities">
		<div class="glyph-map pull-<%= lang_side %>"></div>
		<%= f.input :origin_address,:label => false, required: false, placeholder:t("search_subtrips.form.mode.autocomplete.placeholder.origin"),  input_html: {class: "form-control input-lg"} %>					
	</div>
</div>

<!-- Destination -->
<div class="form-group">
	<div class=" destination_input cities">
		<div class="glyph-map pull-<%= lang_side %>"></div>
		<%= f.input :destination_address,:label => false, placeholder: t("search_subtrips.form.mode.autocomplete.placeholder.destination"), input_html: {class: "form-control requiredd input-lg"} %>
	</div>
</div>

<!-- Hidden fields -->

<%= f.hidden_field :origin_cycle, value: 25 %>
<%= f.hidden_field :destination_cycle, value: 25 %>

<%= f.hidden_field :olat, value: nil %>
<%= f.hidden_field :olng, value: nil %>
<%= f.hidden_field :dlat, value: nil %>
<%= f.hidden_field :dlng, value: nil %>	