<!-- Origin -->
<div class="form-group">
	<div class="origin_input ">
	    <%= f.grouped_collection_select :origin_id, State.order(:local_name), :cities, :local_name, :id, :local_name, {:include_blank => true}, {:class => 'select2_input ', placeholder: t("search_subtrips.form.mode.select.placeholder.origin") } %>
	</div>
</div>

<!-- Destination -->
<div class="form-group">
	<div class=" destination_input">
	    <%= f.grouped_collection_select :destination_id, State.order(:local_name), :cities, :local_name, :id, :local_name, {:include_blank => true}, { class: 'select2_input required', placeholder: t("search_subtrips.form.mode.select.placeholder.destination") } %>
	</div>
</div>

<!-- Hidden fields -->

<%= f.hidden_field :origin_cycle, value: 20 %>
<%= f.hidden_field :destination_cycle, value: 20 %>

<%= f.hidden_field :autocomplete, value: false %>	