<div class="frame">
	<div class="title">
		<h4>
			<strong class="lead"><%= t('.title') %></strong>
			<%= t('.for_passenger') %>
		</h4>
		<p> <%= t('.description') %></p>
	</div>
	<div class="inner">
		<%= simple_form_for :search_subtrip, url: search_search_subtrips_path, method: :get, 
    	html: { :class => 'subtrip_search_form',role: "form" } do |f| %>

		<!-- Search From Select -->
			<%= render partial: 'search_form_with_autocomplete', locals:{f: f} %>	

			<div class="row">
				<!-- DatePicker -->
				<div class="form-group  date-select col-sm-6">
			    <%= f.select :jday, 1..31,{}, {class: "datepicker"}  %> 
			    <%= f.select :jmonth, collection_for_month,{}, {class: "datepicker"} %>
			    <%= f.select :jyear, 1392..1393,{}, {class: "datepicker"} %> 
				</div>
			</div>

			<!-- Submit -->
			<div class="row">
			  <div class="col-sm-6">
						<%= f.button :submit, t("search_subtrips.form.search_btn"), class: "btn btn-warning btn-lg btn-block" %>
				</div>		
			  <div class="col-sm-6">
			  	<%= link_to t('.all_trips'), search_search_subtrips_path, class: "btn btn-warning btn-lg btn-block" %>
						<%#= f.button :submit, t("search_subtrips.form.search_btn"), class: "btn btn-warning btn-lg btn-block" %>
				</div>						
			</div>

		<% end %>		
	</div>			
</div>
