<div id="home">
	<div class="row">
		<div class="col-md-5">
			<div id="search_form" >
				<% unless (request.try(:location).try(:country_code) == 'IR')  %>
					<%= image_tag(IMAGES_PATH+"passenger.png", class: "passenger")	%>
				<% end %>
				<%= render partial: 'trip_search' %>	
		  </div>

			<% if @spacial_events.any? %>
			  <div id="spacial_events">
					<%= render 'spacial_events'%>	
				</div>			
			<% end %>

		  <div id="spacial_events">
				<%= render 'facebook_signin'%>	
			</div>			
		</div>	

		<div class="col-md-7">
			<div id="insert_trip" >
				<img src="<%= IMAGES_PATH+"passenger_man.png" %> " alt="" style= "<%= lang_other_side %> : -12px;" class= "passenger passenger_man">
				<%= render 'trip_insert' %>	
			</div>
			<div id="sample_trips">
	  		<% if @subtrips && @subtrips.any? %>
					<%= render 'sample_subtrips'%>	
				<% end %>
			</div>
		</div>
	</div>

	<div id="quote" class="row">
	  <%= render 'how_it_works'%>	
	</div>

</div>