<div class="blueprint_<%= @subtrip.vehicle_type %>">
  <%= link_to gravatar(@subtrip.trip.driver, 43, "img-circle person driver"), profile_url(@subtrip.trip.driver) %> 
		<% @subtrip.seats.each_with_index do |id, index| %>
			<% if id == 0 %>
				<span class="number person passenger-<%= index+1 %>">
					<%= index+1 %>	
				</span>
				<%= image_tag( IMAGES_PATH+"blueprints/seat_free.gif", size: "43x43", class: "img-circle person passenger-#{index+1}" ) %>
			<% elsif id == -1 %>
	<!-- TODO for unavailable seats -->
			<% else %>
				<% user = User.find_by(id: id) %>
				<% booking = user.bookings.where(subtrip_id: @subtrip.id).first %>

	  		<%= link_to gravatar(user, 43, "img-circle person passenger-#{index+1}"), profile_url(user) %> 

				<% if booking.try(:acceptance_status) == 0 %>
					<% booking = user.bookings.where(subtrip_id: @subtrip.id).first %>
			  	<%= image_tag( IMAGES_PATH+"blueprints/waiting_#{params[:locale]}.gif", size: "43x43", class: "waiting img-circle person passenger-#{index+1}" ) %>
	  		<% end %>

			<% end %> <!-- if -->
		<% end %> <!-- each_with_index -->
</div>


	  		