<ul>
<% @dashboard.new_text_shout.errors.full_messages.each do |msg| %>
	<li><%= msg %> </li>
<% end %>
</ul>
<%= form_for @dashboard.new_text_shout do |f| -%>
  <%= f.text_field :body, placeholder: 'Shout content here' %>
  <%= f.submit "Shout!" %>
<% end %>

<%= form_for @dashboard.new_photo_shout do |f| -%>
  <%= f.file_field :image %>
  <%= f.submit "Shout!" %>
<% end %>

<%= render @dashboard.timeline %>
			