<fieldset>
  <span class="col-sm-3">  
    <%#= am_pm f.object.date_time %>
    <%= jalali_time f.object.date_time %>
  </span>  
  <span class="col-sm-3"><%= f.object.origin.name %> </span>
  <span class="col-sm-3"><%= f.object.destination.name %> </span>
  <% if params[:locale] == 'en' %>
		<span class="col-sm-2"><%= f.select :price, (0..100).step(1).map{|s| ["#{t('currency', amount: s)}", s]},{}, {class: "time_select"} %></span>
  <% else %>
		<span class="col-sm-2"><%= f.select :price, (0..100000).step(500).map{|s| ["#{t('currency', amount: s)}", s]},{}, {class: "time_select"} %></span>  	
  <% end %>

  <%#= f.hidden_field :_destroy %>
  <%#= link_to t('remove') , "#", class: "remove_fields col-sm-1 pull-left" %>  
</fieldset>