<div class="subtrip_overview">
	<div class="panel panel-default ">
		<div class="panel-heading">
			<h2>
				<%= @subtrip.origin %>
				<span class="arrow-ie">&larr;</span> 
				<%= @subtrip.destination %>
				<% if @subtrip.price %>
					<strong class="pull-<%= lang_other_side  %>">
						<%= t 'currency', amount: currency(@subtrip.price), unit: @subtrip.trip.currency.try(:symbol) %>
					</strong>
				<% end %>
			</h2>
		</div>

		<table class="table orogin-destination">
		  <tbody>
		  	<tr>
		  		<th><%= t 'path' %></th>
		  		<th><%= t 'from' %></th>
		  		<td><%= print_cities_name(@subtrip.trip.first_city, @subtrip) %></td>
		  	</tr>

				<% @subtrip.trip.via_cities.each do |s| %>
			  	<tr>
			  		<th></th>
			  		<th><%= t 'via' %></th>
			  		<td><%= print_cities_name(s, @subtrip) %> </td>
			  	</tr>
				<% end %>
		  	<tr>
		  		<th></th>
		  		<th><%= t 'to' %></th>
		  		<td><%= print_last_city_name(@subtrip.trip.last_city, @subtrip) %></td>
		  	</tr>

		  	<tr>
		  		<th><%= t 'date_time'  %></th>
		  		<th><%= t 'mydate'  %></th>
		  		<td><%= jalali_date(@subtrip.date_time) %></td>
		  	</tr>

		  	<tr>
		  		<th></th>
		  		<th><%= t 'at' %></th>
		  		<td><%= jalali_time(@subtrip.date_time) %></td>
		  	</tr>
		  	<tr>
		  		<th><%= t 'price' %></th>
		  		<th><%= t 'currency', amount: @subtrip.price, unit: @subtrip.trip.currency.try(:symbol) %></th>
		  		<th> </th>
		  	</tr>  	

		 		<tr>
		  		<th><%= t 'distance' %></th>
		  		<% if @subtrip.olat && @subtrip.dlng %>
			  		<th><%= t 'km', amount: @subtrip.distance_to([@subtrip.olat,@subtrip.olng]).round(0) %></th>		  			
		  		<% end %>
		  	</tr> 
	 			<tr>
		  		<th><%= t 'viewed_times' %></th>
		  		<th><%= t 'times', amount: @subtrip.view %></th>
		  	</tr> 
		  </tbody>
		</table>

		<table class="table table-details">
			<tbody>		  	
		  	<tr>
		  		<th class="col-xs-3"><%= t 'details' %></th>
		  		<th><%= @subtrip.trip.detail %></th>
		  	</tr>  

		 		<tr>
		  		<th></th>
		  		<th>

						<% unless (@subtrip.trip.driver == current_user)  %> <!-- if passenger is male and trip is ladies only -->
							<!-- ( @subtrip.trip.ladies_only && current_user.gender == 'm' ) -->
			  			<%= link_to t(".book_trip"), new_booking_path(trip: @subtrip.id), class: "btn btn-lg btn-warning pull-left" %>
						<% end %>
		  		</th>
		  	</tr> 

		  </tbody>
		</table>
	</div>
</div>	