<!--   <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <%= f.input :color %>
  <%= f.input :number_plate %>
  <%= f.input :air_condition %>
  <%= f.input :year, as: :date, start_year: Date.today.year - 40,
                              end_year: Date.today.year, discard_day: true,
                              order: [:year] %>
  <%= f.input :image %>
  <%= f.input :vehicle_model_id %>
  <%= f.button :submit %>
