<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Number plate:</strong>
  <%= @vehicle.number_plate %>
</p>

<p>
  <strong>Air condition:</strong>
  <%= @vehicle.air_condition %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Image:</strong>
  <%= @vehicle.image %>
</p>

<p>
  <strong>Vehicle model:</strong>
  <%= @vehicle.vehicle_model.vehicle_brand.name %> - <%= @vehicle.vehicle_model.name %>
</p>

<%= link_to 'Edit', edit_user_vehicles_path(@user) %>
