<h3>Car detail</h3>  
<% if @user.vehicle.present? %>
  <p id="notice"><%= notice %></p>
  <table class="table">
    <tbody>
      <%=  table_show_cell "Color", @vehicle.color %>
      <%=  table_show_cell "Number plate", @vehicle.number_plate %>
      <%=  table_show_cell "Air condition", @vehicle.air_condition %>
      <%=  table_show_cell "Year", @vehicle.year %>
      <%=  table_show_cell "Image", @vehicle.image %>
      <%=  table_show_cell "Model", "#{@vehicle.vehicle_model.vehicle_brand.name} - #{@vehicle.vehicle_model.name}" %>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_user_vehicles_path(@user) %>

<% else %>
  <p>There is no car registered.</p>
  <p><%= link_to "Enter your car details", new_user_vehicles_path(@user) %></p>
<% end %>