		<div class="description col-xs-5">		
			<h3 class="time">
				<%= subtrip.date_time.to_s(:time) %> &nbsp; 
				<small class="pull-<%= lang_other_side %>"><%= apropriate_date_humanize(subtrip) %></small>

			</h3> 
			<h3 class="fromto">
				<div class="table-responsive">
				  <table class="table">
					  <tbody>
					  	<tr>
					  		<td>
									<span class="from"><%= subtrip.origin(locale)  %> </span>
					  		</td>
				  
					  		<td class="to"><%= params[:locale] == "fa" ? "&larr;".html_safe : "&rarr;".html_safe %></td>
					  		<td>
									<span class="to" style='float: <%= lang_other_side %>;'><%= subtrip.destination(locale)  %></span>
					  		</td>
					  	</tr>
					  </tbody>
				  </table>
				</div>

			</h3>
			<h4 class="car">
				<%= t 'car_model' %> 
				:&nbsp; 
				<%= driver.vehicle.try(:vehicle_model).try(:name) %>  
				<%= driver.try(:vehicle).try(:vehicle_model).try(:vehicle_brand).try(:name) %>
			</h4>
		</div>