		<div class="offer col-xs-3">
			<div class="price">
				<strong>
				<%#= number_to_currency(1234567,  separator: "٬", format: "%n") %> 
					<%= t 'currency', amount: currency(subtrip.price), unit: subtrip.trip.currency.try(:symbol) %>
				</strong>
				<span class="price-unit"><%= t('per_passenger') %></span>
			</div>

			<div class="avalability">
				<strong><%= subtrip.free_seats %> </strong>
				<span><%= t('seats_left') %> <%= t('.from') %> <%= subtrip.seats.size %></span>
			</div>
		</div>