<!DOCTYPE html>
<html lang="fa">
<head>
  <title><%=t 'site_info.title' %><%= " | #{@page_title}" if @page_title %></title>

  <!-- dp2dxhgz2DSL0XBruyi43dku3so -->
  <meta name="alexaVerifyID" content="dp2dxhgz2DSL0XBruyi43dku3so" />

  <meta name="keywords"   content="بلیط اتوبوس, خرید اینترنتی بلیط ,همسفر ,مسافرت ,بلیط ,رزرو اینترنتی بلیط , dp2dxhgz2DSL0XBruyi43dku3so" />

  <meta name="description" content="تسهیل در یافتن همسفر در مسافرت های بین شهری">

  <%= favicon_link_tag IMAGES_PATH + "ico/favicon.gif" %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
          <%= javascript_include_tag :defaults %>

  <% if params[:locale] == 'fa' %>
  	<%= javascript_include_tag ASSETS_PATH+"localization/messages_fa.js" %>  	
  <% end %>

  <% unless params[:locale] == 'fa' %>
    <style>
      th {text-align: left;}
    </style>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body style="direction:<%= 'ltr' if params[:locale] == 'en' %> ;">