<!DOCTYPE html>
<html lang="fa">
<head>
  <title> 
  <% if current_user && ( (notification_exist? @unread_messages_notifications) || 
           @booking_request_notifications.any? ||
           @booking_respond_notifications.any?)
  %>
    <%= "(#{@unread_messages_notifications.to_i + 
            @booking_request_notifications.try(:size).to_i +
            @booking_respond_notifications.try(:size).to_i 
          })" 
    %>     
  <% end %>
    <%=t 'site_info.title' %>
    <%= " | #{@page_title}" if @page_title %>
  </title>
  <meta name="samandehi-secure-footprint" content="samandehi-secure-footprint:786e4a2f594f712f392b34533568727a32615934323457466d7a6971526f2b304172447658583769517a653738394c777930506657673d3d">
  <!-- dp2dxhgz2DSL0XBruyi43dku3so -->
  <meta name="alexaVerifyID" content="dp2dxhgz2DSL0XBruyi43dku3so" />

  <meta name="keywords"   content="بلیط اتوبوس, خرید اینترنتی بلیط ,همسفر ,مسافرت ,بلیط ,رزرو اینترنتی بلیط , dp2dxhgz2DSL0XBruyi43dku3so" />

  <meta name="description" content="تسهیل در یافتن همسفر در مسافرت های بین شهری">

  <%= favicon_link_tag IMAGES_PATH + "ico/favicon.gif" %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
          <%= javascript_include_tag :defaults %>

  <% if params[:locale] == 'fa' %>
  	<%= javascript_include_tag ASSETS_PATH+"js/localization/messages_fa.js" %>  
    <%= stylesheet_link_tag ASSETS_PATH+"css/bootstrap-rtl.css", media: "all", "data-turbolinks-track" => true %>
  <% end %>

  <% unless params[:locale] == 'fa' %>
    <style>
      th {text-align: left;}
    </style>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body style="direction:<%= 'ltr' if params[:locale] == 'en' %> ;">