<!-- --       Larg Screen      -- -->
<div id="sidebar" class="col-lg-4">
  <%= render partial: 'profiles/show/avatar_and_brief_for_large_screen', locals: {user: user}  %>

	<%= render partial: 'profiles/show/user_overview', locals: {user: user}  %>

	<%= render partial: 'profiles/show/single_profile', locals: {user: user}  %>
	<%= render partial: 'vehicles/show', locals: {user: user} %>

	<%= render partial: 'shared/users_list', locals: {users: @followed_users, title: "#{@profile.user.name }'s Followed Users "} %>

</div>
<div id="leftContent" class="col-lg-8">
	<%= render partial: 'profiles/show/cover', locals: {user:user} %>
	<%= flash_creator flash %>
	<%= render @profile.timeline %>

</div>
