<div class="panel panel-default clear">
  <div class="panel-heading"> <%=t  '.personal_profile'  %></div>
	<table class="table">
		<tbody>
			<tr>
				<th><%= User.human_attribute_name("firstname") %></th>
				<th><%= @profile.user.firstname %></th>
			</tr>
			<tr>
				<th><%= User.human_attribute_name("lastname") %></th>
				<th><%= @profile.user.lastname %></th>
			</tr>
			<tr>
				<th><%= User.human_attribute_name("gender") %></th>
				<th><%= t_gender(@profile.user.gender)  %></th>
			</tr>
			<tr>
				<th><%= User.human_attribute_name("age") %></th>
				<th><%=  @profile.user.age %></th>
			</tr>
			<tr>
				<th><%= User.human_attribute_name("details") %></th>
				<th><%=  @profile.user.details %></th>
			</tr>
		</tbody>
	</table>
</div>


<div class="panel panel-default clear">
  <div class="panel-heading"><%=t '.contact_details'  %></div>
		<% if current_user %>
			<table class="table">
				<tbody>
					<tr>
						<th><%= User.human_attribute_name("city") %></th>
						<th><%= @profile.user.city %></th>
					</tr>
					<tr>
						<th><%= User.human_attribute_name("address") %></th>
						<th><%= @profile.user.address  %></th>
					</tr>
				</tbody>
			</table>
		<% else %>
			<%= force_to_sign_in_message %>
		<% end %> <!-- if current_user -->
</div>