<div class="panel panel-default clear">
  <div class="panel-heading"> <%=t  '.personal_profile'  %></div>
  <div class="panel-body">
    <%= profile_sidebar_row User.human_attribute_name("firstname"), @profile.user.firstname  %>
    <%= profile_sidebar_row User.human_attribute_name("lastname"), @profile.user.lastname  %>
    <%= profile_sidebar_row User.human_attribute_name("gender"), t_gender(@profile.user.gender)  %>
    <%= profile_sidebar_row User.human_attribute_name("age"), @profile.user.age  %>
    <%= profile_sidebar_row User.human_attribute_name("details"), @profile.user.details  %>
	</div>
</div>

<div class="panel panel-default clear">
  <div class="panel-heading"><%=t '.contact_details'  %></div>
  <div class="panel-body">
		<% if current_user %>
    	<%= profile_sidebar_row User.human_attribute_name("city"), @profile.user.city  %>
    	<%= profile_sidebar_row User.human_attribute_name("address"), @profile.user.address  %>
		<% else %>
			<%= force_to_sign_in_message %>
		<% end %> <!-- if current_user -->
	</div>
</div>