<div class="panel panel-default clear">
  <div class="panel-heading"> <%=t  '.personal_profile'  %></div>
	<table class="table">
		<tbody>
			<%=  table_show_cell "First Name", @profile.user.firstname %>
			<%=  table_show_cell "Last Name", @profile.user.lastname %>
			<%=  table_show_cell "Username", @profile.user.username %>
			<%=  table_show_cell "Gender", @profile.user.gender_in_word %>
			<%=  table_show_cell "Age", @profile.user.age %>
		</tbody>
	</table>
</div>


<div class="panel panel-default clear">
  <div class="panel-heading"><%=t  '.contact_details'  %></div>
	<table class="table">		
		<tbody>
			<% if current_user %>
				<%#=  table_show_cell "Email", @profile.user.email %>
				<%#=  table_show_cell "Tel", @profile.user.tel %>
				<%#=  table_show_cell "Mobile", @profile.user.mobile %>
				<%=  table_show_cell "City", @profile.user.city %>
				<%=  table_show_cell "Address", @profile.user.address %>
				<%#=  table_show_cell "Post Code", @user.post_code %>
			<% else %>
				<%= force_to_sign_in_message %>
			<% end %> <!-- if current_user -->
		</tbody>
	</table>
</div>