<!-- --       Small Screen     -- -->
<div class=" hidden-lg "> 
	<%= render 'users/show/cover' %>
	<%= flash_creator flash %>
	<%= render 'single_profile' %>
	<%= render 'vehicles/show' %>
	<%= render partial: 'users/users_raw', locals: {users: @followed_users, title: "#{@user.name }'s Followed Users "} %>	
	<%= render @shouts %>
</div>
