<div class="panel panel-default clear">
  <div class="panel-heading">
  	<%= @profile.user.name %> 
  	<%=t  '.overview'  %>
  </div>
	<div class="panel-body">
		<form class="form-horizontal" role="form">

			<% if current_user %>
				<%=  user_form_control_static t(".last_activity"), resent_activity(@profile.user, "activity"),"col-xs-5","col-xs-7" %>
				<%=  user_form_control_static t(".last_login_location"), @profile.user.last_login_location,"col-xs-5","col-xs-7" %>
				<%=  user_form_control_static t(".trips_count"), @trips_count,"col-xs-5","col-xs-7" %>
				<%=  user_form_control_static t(".bookings_count"), @bookings_count,"col-xs-5","col-xs-7" %>
				<%=  user_form_control_static t(".trip_canceled_count"), @trip_canceled_count,"col-xs-5","col-xs-7" %>
				<%=  user_form_control_static t(".booking_canceled_count"), @booking_canceled_count,"col-xs-5","col-xs-7" %>

				<% if @profile.user.slug_updated %>
					<%=  user_form_control_static t(".url"), link_to_profile(@profile.user) %>
				<% end %>

			<% else %>
				<%= force_to_sign_in_message %>
			<% end %> <!-- if current_user -->
			
		</form>
	</div>
</div>

