<div class="panel panel-default clear">
  <div class="panel-heading">
  	<%= @profile.user.name %> 
  	<%=t  '.overview'  %>
  </div>
	<div class="panel-body">
		<form class="form-horizontal" role="form">

			<% if current_user %>
				<%=  user_form_control_static t(".last_activity"), resent_activity(@profile.user, "activity"),"col-sm-4","col-sm-8" %>
				<%=  user_form_control_static t(".last_login_location"), @profile.user.last_login_location,"col-sm-4","col-sm-8" %>

				<% if @profile.user.slug_updated %>
					<%=  user_form_control_static "Url", link_to_profile(@profile.user) %>
				<% end %>

			<% else %>
				<%= force_to_sign_in_message %>
			<% end %> <!-- if current_user -->
			
		</form>
	</div>
</div>

