  <%= render 'head' %>

  <%= render 'navbar' %>
	<% if current_user.try(:is_admin?) %>
  	<%= render 'admin_navbar' %>		
	<% end %>

  <div  id="userContainer" class="container">	
      <%= yield %>  
  </div>

  <%= render 'footer' %>
