<%= render 'layouts/head' %>

<%= render 'navbar' %>

<div class="container">
	
	<%= render 'header' %>

	<%#= render 'searches/form' %>
  <div id="siteContent">
    <%= flash_creator flash %>
    <%= yield %>  
  </div>
  
</div>

<%= render 'layouts/footer' %>