<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag "https://s3-eu-west-1.amazonaws.com/shouter/static_files/js/trips_external_all_in_one.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

	<%= render 'navbar' %>
	
	<%= render 'header' %>

	<%#= render 'searches/form' %>
	<%= render 'second_nav' %>

	<%= flash_creator flash %>
	
	<%= yield %>
</div>

<%= render 'footer' %>

<script>
	$(document).ready(function(){
	 $(".tip").tooltip();
	});
		
</script>

</body>
</html>
