<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <meta name="LANGUAGE" content="fa" />
  <meta name="description" content="همسفریاب &#10004; بلیط اتوبوس &#10004; بلیط قطار &#10004; بلیط هواپیما &#10004; سفر راحت &#10004;">

  <%= favicon_link_tag IMAGES_PATH + "ico/favicon.png" %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'navbar' %>

  <div class="container">
  	
  	<%= render 'header' %>

  	<%#= render 'searches/form' %>
    <div id="siteContent">
      <%= flash_creator flash %>
      <%= yield %>  
    </div>
    
  </div>

  <%= render 'footer' %>

<script type="text/javascript">
  document.observe('dom:loaded', function(evt) {
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text: "Oops, nothing found!"},
      '.chosen-select-width'     : {width: "95%"}
    }
    var results = [];
    for (var selector in config) {
      var elements = $$(selector);
      for (var i = 0; i < elements.length; i++) {
        results.push(new Chosen(elements[i],config[selector]));
      }
    }
    return results;
  });

    $(document).ready(function(){
   $(".tip").tooltip();
  });
    
  </script>
</body>
</html>
