<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'navbar' %>

  <div class="container">
  	
  	<%= render 'header' %>

  	<%#= render 'searches/form' %>
    <%= render 'second_nav' %>

  	<%= flash_creator flash %>

  	<%= yield %>

  </div>

  <%= render 'footer' %>


<script type="text/javascript">
  document.observe('dom:loaded', function(evt) {
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text: "Oops, nothing found!"},
      '.chosen-select-width'     : {width: "95%"}
    }
    var results = [];
    for (var selector in config) {
      var elements = $$(selector);
      for (var i = 0; i < elements.length; i++) {
        results.push(new Chosen(elements[i],config[selector]));
      }
    }
    return results;
  });

    $(document).ready(function(){
   $(".tip").tooltip();
  });
    
  </script>
</body>
</html>
